<mat-card>
  <mat-card-title>
    User Login
  </mat-card-title>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Username">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password">
      </mat-form-field>
    </form>
    <div>
      <button type="submit" mat-stroked-button color="primary">Login</button>
      <a  mat-stroked-button color="accent">Register</a>
    </div>
  </mat-card-content>


</mat-card>
